<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <img src="https://static.wixstatic.com/media/cb967b_afaeaa7f185044b4b46ca406ba0791b5~mv2.gif" alt="mirror ball"  width="500" />
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
      <div class="nav-item dropdown">
        <div class="dropdown mr-5">
          <i class="fas fa-user-astronaut" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">

            <% if user_signed_in? %>
              <%= link_to "Rent your party stuff", new_product_path, class: "dropdown-item" %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <% else %>
              <%= link_to "Sign in", user_session_path, class: "dropdown-item" %>
              <%= link_to "Sign up", new_user_session_path, class: "dropdown-item" %>
            <% end %>

          </div>
        </div>
        <%# <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%#= link_to "Another action", "#", class: "dropdown-item" %>

      </div>
    </div>
  </div>
</div>


<%# <i class='fas fa-user-astronaut'></i> %>
